<div class="container-fluid footer">
    <div class="row">

        <div class="col-lg-6 align-self-center">

            <h1>AzurasDesignz</h1>
            <p>Handmade cards for every occasion</p>
            

        </div>

        <div class="col-lg-4 align-self-center">
            <a routerLink="/">Home</a>
            <a routerLink="productlist">Cards</a>
            <a routerLink="checkout">Checkout</a>
            <a routerLink="about">Contact Us</a>
            

        </div>

        <div class="col-lg-2 align-self-center">
            <a href="https://www.instagram.com/azurasdesignz/" target="_blank"><i class="bi bi-instagram"></i>AzurasDesigns</a>
        </div>

    </div>

</div>
