<p>home works!</p>

<p>Need to put the words and images in the middle </p>


<carousel>
    <slide>
      <img src="assets/Purple Floral Birthday Postcard.JPG" alt="First slide" style="display: block; width: 50%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </slide>
    <slide>
      <img src="assets/Rainbow Graduation Card.JPG" alt="Second slide" style="display: block; width: 50%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </slide>
    <slide>
      <img src="assets/Red Floral Birthday Postcard.JPG" alt="Third slide" style="display: block; width: 50%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </slide>
</carousel>