<!-- <h2>IDK inlcude pretty banner ?</h2>

<div *ngFor="let c of cards" class="cards">

    <h4>{{c.name}}</h4>
    
</div> -->

<section style="background-color: #eee;">
    <div class="text-center container py-5">
      

      <div class="row">

        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let c of cards">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img [src]="c.image_url" alt="Card image" class="w-100" />
              <a class="nav-link" [routerLink]="['/productinfo', c.product_id]" routerLinkActive="active-link">
                <!-- need to add link here ?? YEP  -->
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100"></div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h4 class="card-title mb-3">{{c.name}}</h4>
              </a>
              <a href="" class="text-reset">
                <p>{{c.category}}</p>
              </a>
              <h4 class="mb-3">SGD {{c.price}}.00</h4>

              
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>


<!-- <div class="container">
    <div class="row">
        <div class="col-lg-3" *ngFor="let c of cards">
            <div class="cards">

                <h1>{{c.name}}</h1>
                <h1>{{c.image_url}}</h1>
                
                <img [src]="c.image_url" alt="Card image">
                
                //original code 


            </div>


        </div>
    </div>
</div> -->